{% extends "base.html" %}

{% block content %}
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>

<h1>Delete Contact</h1>

<p>Are you sure you want to delete the contact {{ contact }}?</p>

<form action="{% url "contacts-delete" pk=contact.id %}" method="POST">
  {% csrf_token %}

  <input type="submit" style="margin-top:10px;" class="btn btn-primary btn-large" value="Yes, delete." />
  <a href="{% url "contacts-list" %}"><button style="margin-top:10px;" class="btn btn-primary btn-large">No, cancel.</button></a>
</form>

{% endblock %}
